extends ../_layout

block content
    #cars-container
    //- ul.list
    //-     each car in model
    //-         li.cars-item
    //-             a(href="/cars/" + car.id)
    //-                 if car.imgUrl
    //-                     img(width=100 src=car.imgUrl).car-img
    //-                 //- else
    //-                 //-     img(width=100 height=66 src="http://www.bmw.co.uk/vc/resources/img/no_img.png")
    //-                 span=car.Makes
                