extends ../_layout

block content    
    h1(style='text-align: center;')=model.username
    if(cars)
        ul.list
            each car in cars
                li.car-item
                    a(href="/cars/" + car.id)
                        if car.imgUrl
                            img(width=100 src=car.imgUrl)
                        //- else
                        //-     img(width=100 height=66 src="http://www.bmw.co.uk/vc/resources/img/no_img.png")
                        span=car.Makes
    else
        h3 no cars available