mixin img
    img(src="https://uau.bg/7926-12680-home/frantic-stamper-fra-die-09164-race-car.jpg" style='padding-left: 27%')
    img(src="https://uau.bg/7926-12680-home/frantic-stamper-fra-die-09164-race-car.jpg" style='padding-left: 27%')