mixin nav
    .nav
        ul(class="nav nav-tabs" style='padding-left:33%')
            li
                a(href="/" style='color: black;') 
                    | Home
            li
                a(href="/cars/all" style='color: black;')
                    | All cars
            li
                a(href="/cars/add" style='color: black;')
                    | Add car
            if user
                li
                    a(href="/profile" )
                        =user.username
                li
                    form(action="/auth/logout" method="POST" style='color: black;')
                        button
                            | Logout
            else 
                li
                    a(href="/auth/register" style='color: black;') 
                        | Register
                li
                    a(href="/auth/login" style='color: black;')
                        | Login