include _mixins/_nav
include _mixins/_img
<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title My CAR Application
    //- <link rel="icon" type="image/x-icon" href="https://uau.bg/7926-12680-home/frantic-stamper-fra-die-09164-race-car.jpg">
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.css")
    //- link(rel="stylesheet", href="/static/css/main.css")
    //- link(rel="stylesheet", href="/static/css/my.css")
body
    #root
        .header
            h1(style='text-align: center;') The CAR App
            +nav()
            +img()
        .content
            block content
        

    